# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

private

bench-redis-1000000x-sequence.txt
bench-keydb-1000000x-sequence.txt
bench-dragonflydb-1000000x-sequence.txt
bench-redis-1000000x-parallel.txt
bench-keydb-1000000x-parallel.txt
bench-dragonflydb-1000000x-parallel.txt

redis-memory-hash-1m.txt
redis-memory-hash-10m.txt
redis-memory-hash-25m.txt
redis-memory-sorted-set-1m.txt
redis-memory-sorted-set-10m.txt
redis-memory-sorted-set-25m.txt
redis-memory-set-1m.txt
redis-memory-set-10m.txt
redis-memory-set-25m.txt

keydb-memory-hash-1m.txt
keydb-memory-hash-10m.txt
keydb-memory-hash-25m.txt
keydb-memory-sorted-set-1m.txt
keydb-memory-sorted-set-10m.txt
keydb-memory-sorted-set-25m.txt
keydb-memory-set-1m.1m.txt
keydb-memory-set-1m.10m.txt
keydb-memory-set-1m.25m.txt

dragonflydb-memory-hash-1m.txt  # unknown cause server misbehaving
dragonflydb-memory-hash-10m.txt # unknown cause server misbehaving
dragonflydb-memory-hash-25m.txt # unknown cause server misbehaving
dragonflydb-memory-sorted-set-1m.txt
dragonflydb-memory-sorted-set-10m.txt
dragonflydb-memory-sorted-set-25m.txt
dragonflydb-memory-set-1m.1m.txt
dragonflydb-memory-set-1m.10m.txt
dragonflydb-memory-set-1m.25m.txt # unknown cause stored only 15 443 800 from 25 00 0000
